# dependências
/node_modules

# next.js
/.next/
/out/

# produção
/build

# base de dados local
/prisma/dev.db
/prisma/dev.db-journal

# variáveis de ambiente
.env
.env*.local

# diversos
.DS_Store
*.pem
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts
